version: 0.2.{build}

pull_requests:
  do_not_increment_build_number: true

image: Visual Studio 2017

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

build:
  verbosity: minimal

build_script:
- ps: .\Build.ps1

artifacts:
    - path: .\artifacts\*

deploy:
- provider: NuGet
  api_key:
    secure: lRgjizJgJ+gShbGwlM7Sl+P2NEPJ1drvOCPTbaU0qsa0kxS7E4oA7ylaHgNlJ0T7
  on:
    branch: master
- provider: GitHub
  release: plumber-component-decorator-v$(appveyor_build_version)
  description: 'Release description'
  auth_token:
    secure: /GLYjd57jHrHJwlSnWwIqtZmir/Hb2CXwBc7nWdrM1IZFwDwnAX0s02v+ST4Ah9m
  artifact: /.*\.nupkg/  
  on:
    branch: master 
    APPVEYOR_REPO_TAG: true 
